<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <div id="app">
      <h1><%= title %></h1>
      <p><%- content %></p>
      <p><a href="download/<%= image %>">Download Image</a></p>
      <img src="<%= image %>" alt="..." width="250" />
      <p><small>Requested at: <%= requestTime %></small></p>
    </div>
  </body>
</html>
